html{
	overflow-x:hidden;
}

body{
	background-color: black;
	color: white;
}

nav.navbar{
	margin: 0;
}
.search-button-alt-text{
	display: none;
}
.search-button:focus .search-button-alt-text{
	display: inline;
}


.footer{
	position: relative;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 40px;
	font-size: 12px;
	line-height: 1.5;
	color: #767676;
	border-top: 1px solid #080808;
	text-align: center;
	background-color: #f0f0f0;
}

.main-description{
	text-align: center;
}
#banner {
	text-align: center;
	padding: 0;
	margin:0;
	width: 100%;
}
@media all and (max-width: 350px) {
	#banner {
		width: 100%;
	}
}

@media all and (max-width: 500px) {
	.container-fluid{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.container{
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

