/*******FONTES********/
@font-face {
    font-family: "Radiance";
    src: url(fonts/radiance-webfont.woff);
}
@font-face {
    font-family:"Radiance";
    src: url(fonts/radiance-semibold-webfont.woff);
    font-weight: bold;
}
@@font-face {
  font-family: "Trajan Pro";
  src: url('fonts/GoudyTrajan-Medium.woff') format('woff');

}
/********RESETADOR********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: black;
	color: white;
	font-family: "Radiance";
}

nav.navbar{
	margin: 0;
	background: linear-gradient(#5b1716, #6f2019); /* Standard syntax */
	font-size: 0.9em;
}
#separador {
  height: 1px;
  border: 0;
  margin: 0 auto;
  background-image: url("../img/home/home_separador_main.png");
  width: 658px;
  display: block;
}

.navbar-default{
	border-color: #341a17;
}

.navbar-default .navbar-brand{
	color : #d7d7d7;
}

.navbar-default .navbar-nav > li > a{
	color : #d7d7d7;
}
.navbar-brand{
	padding-left:  3em;
	padding: 0.6em 1.5em 0.8em 4em;
}
.navbar-brand > img{
	width: 1.6em;
}
.navbar-default .navbar-nav > hr {
    border:0;
		margin: 1em 0 0 0;
		height: 19px;
		width: 1px;
		position: relative;
		float: left;
    background:url("../img/separador_menu.png");
		display: inline-block;
}

.navbar-form .form-control{
	color: #fff;
	border: 1px solid #751519;
	background-color: #44120d;
}

.search-button-alt-text{
	display: none;
}
.search-button:focus .search-button-alt-text{
	display: inline;
}


.footer{
	position: relative;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 40px;
	font-size: 12px;
	line-height: 1.5;
	color: #767676;
	border-top: 1px solid #080808;
	text-align: center;
	background-color: #f0f0f0;
}

.main-description{
	text-align: center;
}
#banner {
	text-align: center;
	padding: 0;
	margin:0;
	width: 100%;
}
.sidebar_times{
  columns: 2 auto;
  column-gap: 0.2em;
}
.sidebar_times > .team-tile{
	display: block;
  margin: 0 0 0.2em 0;
}
.sidebar_times > .team-tile > img{
  width: 90%;
}
/****************************TIMES************************************/

.container-time{

}
.logo-principal {

}
.logo-principal > .descricao-time {
  text-align: justify;
  text-justify :inter-word;
  font-size: 1em;
}
.logo-principal > img:first-child{
  display: block;
  padding: 1em 0 0.5em 0;
  margin : 1em 0 1em 0;
  margin-left: auto;
  margin-right: auto;
}
.time-players{
  margin-top: 1em;
}
.time-players > .profile-player-min{
  background-image: url("../img/teams/fundo_div_player.png");
  background-repeat: no-repeat;
  height: 7.4em;
}
.time-players > .profile-player-min > img:first-child{
  margin : 0.6em 0.6em 0 1em;
  display: inline-block;
}
.time-players > .profile-player-min > span{
  display: inline-block;
  vertical-align: top;
  color: #edeeef;
  margin-top: 0.6em;
}
.time-players > h2:first-child{
  border-radius: 0.1em;
  font-family: Radiance, Georgia;
  background-image: url("../img/teams/fundo_nome_time.png");
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0.13em 0.2em 0.05em 0.2em;
  text-shadow: 2px 2px 5px #000;
  color: #FFF;
  font-weight: 500;
}
.container-sidebar{
  margin-top: 1em;
}
.winrate{
  min-height: 6em;
  background-image: url("../img/teams/bg_winrate.png");
  background-repeat: no-repeat;

}
.sidebar-stats > h2:first-child {
  border-radius: 0.1em;
  font-family: Radiance, Georgia;
  background-image: url("../img/teams/fundo_nome_time.png");
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0.13em 0.2em 0.05em 0.2em;
  text-shadow: 2px 2px 5px #000;
  color: #FFF;
  font-weight: 100;
}

.container-time > h1:first-child{
  border-radius: 0.1em;
  font-family: Radiance, Georgia;
  background-image: url("../img/teams/fundo_nome_time.png");
  font-size: 2.6em;
  padding: 0.13em 0.2em 0.05em 0.2em;
  text-shadow: 2px 2px 5px #000;
  color: #FFF;
  font-weight: 500;
}

.sidebar-players > h2:first-child{
  border-radius: 0.1em;
  font-family: Radiance, Georgia;
  background-image: url("../img/teams/fundo_nome_time.png");
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0.13em 0.2em 0.05em 0.2em;
  text-shadow: 2px 2px 5px #000;
  color: #FFF;
  font-weight: 500;
}
.sidebar-players > span{
  width: 100%;
}
.sidebar-players > span > img{
  max-width: 100%;
  width: 100%;
}
.sidebar-players > span > h3{
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.container-players > h1:first-child{
  border-radius: 0.1em;
  font-family: Radiance, Georgia;
  background-image: url("../img/teams/fundo_nome_time.png");
  font-size: 2.6em;
  padding: 0.13em 0.2em 0.05em 0.2em;
  text-shadow: 2px 2px 5px #000;
  color: #FFF;
  font-weight: 500;
}
.main-profile > .sidebar-stats{
  margin-top: 1em;
}

.sidebar-stats > .stats-player{
  background: linear-gradient(#460f0f, #360e0e);
  padding : 0 0.2em;
}

.sidebar-stats > .stats-player > #separador{
  height: 1px;
  border: 0;
  width: auto;
  background-image: url("../img/home/home_separador_main.png");
  background-position: center;
  display: block;
}

.sidebar-stats > .stats-player > .linha-player{
  padding: 0.5em 0 0 0;
  display: flex;
  font-size: 1em;
  text-shadow: 2px 2px 5px #000;
}
.sidebar-stats > .stats-player > .linha-player:last-child{
  padding-bottom: 0.2em;
}

.sidebar-stats > .stats-player > .linha-player > p:first-child{
  flex-grow: 0.7;
}

.sidebar-stats > .stats-player > .linha-player > p:nth-child(2){
  flex-grow: 0.3;
  text-align: right;
}

.texto-profile{
  margin : 0.4em 0 2em 0;
}

.texto-profile > h1{
  font-size: 2.4em;
}
.texto-profile > h2{
  font-size: 1.4em;
}

.texto-profile > p{
  color: #d7d7d7;
  padding-top: 1em;
  line-height: 1.1em;
  text-align: justify;
}
.favored-hero > span{
  display: flex;
}
.favored-hero > span > h3{
  font-size: 1.8em;
  font-weight: bold;
  margin : auto 0 auto 0.2em;
}

.titulo-pagina{
  padding: 3em 0 1em 0;
  margin-top: -2em;
  background-image: url("../img/teams/bg_titulo.png");
}

.titulo-pagina > h1{
  text-align: center;
  font-family: "Trajan Pro";
  font-size: 3em;
}

@media all and (max-width: 350px) {
	#banner {
		width: 100%;
	}
}

@media all and (max-width: 500px) {
	.container-fluid{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.container{
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
