/*
exemplo para o sato
*/

.team-tiles-container, .team-tiles, .team-tile{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.team-tiles-container{
	background-color: blue;
}

.team-tiles {
	background-color: green;
	flex-direction: row;
	flex-wrap: wrap;
}
.team-tile{
	background-color: red;
	display: block;
	width: 100%;
	min-width: 75px;
	max-width: 250px;
}
.team-tile span {
	margin-top: 1rem;
	display: block;
}

/*
2 linhas e 8 colunas -> width 800px
4 linhas e 4 colunas -> width 400px
8 linhas e 2 colunas -> width 200px
*/


@media (max-width: 300px) {
	.team-tile{
		max-width: calc(100% / 2);
	}
}
@media (min-width: 300px) and (max-width: 425px) {
	.team-tile{
		max-width: calc(100% / 4);
	}
}
@media (min-width: 425px) and (max-width: 650px) {
	.team-tile{
		max-width: calc(100% / 4);
	}
}
@media (min-width: 650px) and (max-width: 992px) {
	.team-tile{
		max-width: calc(100% / 8);
	}
}
@media (min-width: 992px) {
	.team-tile{
		max-width: calc(100% / 8);
	}
}


.team-tile-img {
	max-width: 100%;
	max-height: 100%;
	width: 80%;
	margin: 0 auto;
	display: block;
}
